# This file mainly consist of the library that mainly needs to be installed before runnig the app.py
# TO INSTALL ALL THE DEPENDENCIES PLEASE RUN THE FOLLOWING COMMAND:
# pip install -r requirements.txt

Flask
Flask-Cors
google-generativeai
PyMuPDF
python-dotenv
pandas
openpyxl
requests
tabulate
Flask-Session
gunicorn
redis
rq
SQLAlchemy
psycopg2-binary
